/* font family */
@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'), url(./fonts/Raleway-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: local('Raleway-SemiBold'), url(./fonts/Raleway-SemiBold.ttf) format('truetype');
}
/* General configurations */
* {
  box-sizing: border-box;
}

body {
  padding: 0px 20px;
  background: #f1f1f1;
  font-family: 'Raleway-Regular', sans-serif;
}

ion-icon {
  --ionicon-stroke-width: 16px;
}

/* Side bar */
.sidenav {
  height: 100%;
  width: 4rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7435e0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a ion-icon{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 27px;
  color: white;
  display: block;
  margin-bottom: 20px;
}

.sidenav a ion-icon:hover {
  color: lightgray;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  margin-left: 4rem;
  height: 15vh;
  border-radius: 5px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Style the topnav links */
.topnav a ion-icon{
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 27px;
}
.topnav h5 {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  
}
/* Change color on hover */
.topnav a ion-icon:hover {
  color: gray;
}

/* Create two unequal columns that floats next to each other */

/* Left column */
.leftcolumn {   
  float: left;
  width: 70%;
  margin-left: 5rem;
  
}
.section-1{
  background-image: linear-gradient(to right, rgba(120,100,218,0.53), rgba(148,189,244,1));
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.section-2{  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
hr{
  background-color: white;
  height: 1px;
  border-top: 1px solid grey;
}
/* Images */
div.image{
  background-size: cover;
  background-repeat: no-repeat;
}
.btn{
  background-color: #7435e0;
  border-radius: 30px;
}

/* Style the counter cards */
.card-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 23%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
.rightcolumn h4{
  font-family: 'Raleway-SemiBold';
  text-align: center;
}
.name{
  font-family: 'Raleway-SemiBold';
}
/* Add a card effect for articles */
.main {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Crads */
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
  .rightcolumn {   
    width: 100%;
    padding-left: 5rem;
    margin-right: 1rem;
  }
  .leftcolumn {   
    width: 100%;
    margin-right: 1rem;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .topnav a ion-icon{
    font-size: 10px !important;
  }
}

/* Facebook button */
.my-facebook-button-class{
  color:white;
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
  background-color: #4C69BA;
  border: 0;
  width: 10rem;
  margin-left: 5rem;
}

/* Calendario view */

$base__font-size: 16px;

$font-family--montserrat: 'Montserrat', sans-serif;
$font-family--primary : $font-family--montserrat;

//Colors
$white: #fff;
$black: #222741;
$gray: #99A4AE;
$blue: #66DCEC;
$yellow: #FDCA40;
$green: #86D8C9;

//Color Palette
$palettes: (
  gray-shades: (
    darker: #9FAAB7,
    base: #99A4AE,
    light: #DCDCE3,
    lighter: #BEC1CA,
    lightest: #F2F6F8
  )
);

// Color usages
$calendar-item-border: #FEFEFE;
$calendar-item-text: #424588;
$calendar-button-color: #E9E8E8;

//Font size variables
$lg-font-size: 20px;
$default-font-size: 14px;
$sm-font-size: 12px;
$xsm-font-size: 10px;

//Font weight variables
$font-weight--bold: 700;
$font-weight--semi-bold: 600;
$font-weight--regular: 400;

//Color Usage
$primary-color: $green;

@function palette($palette, $shade: base){
  @return map-get(map-get($palettes, $palette), $shade);
}

// $element  - Just the element name for the parent block (doesn't require the parent Block name)
// @usage    - `.Nav {@include e(item){...}}`
@mixin e($element){
  &__#{$element}{
    @content;
  }
}

// For Modifier
// $modifier  - Just the modifier name for the parent block or element
// @usage     - `.Nav {@include e(item) {@include m(active) {...}}}`
@mixin m($modifier){
  &--#{$modifier}{
    @content;
  }
}

// Media Query
@mixin mq($break){
    @if type-of($break) == 'number' {
      @media(min-width: $break + 'px') {
        @content;
      }
    }
    @else {
      @error "No value could be retrieved for '#{$break}'";
    }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Base Code

.mock-up-link {
  display: none;
  
  @include mq(768) {
    display: block;
  }
}

.main-container-wrapper {
  min-width: 320px;
  min-height: 568px;
  max-width: 414px;
  overflow-y: auto;


  @include mq(415) {
    -moz-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);    
    -webkit-box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
    box-shadow: 0px 32px 47px rgba(32, 23, 23, 0.09);
    margin: 5rem 5rem;
  }
}

header {
  background-color: $white;
  display: flex;
  height: 58px;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.header {
  @include e(btn) {
    background-color: $primary-color;
    border: 2px solid $white;
    border-radius: 50%;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 80px;
    padding-top: 18px;
    position: absolute;
    top: -25px;
    width: 80px;
    
    &:hover,
    &:focus {
      background: darken($primary-color, 8%);
      transition: all 0.3s ease-in;
      outline: none;
    }

    .icon {
      display: inline-block;
    }

    @include m(left) {
      left: -25px;
      padding-left: 38px;
      text-align: left;
    }

    @include m(right) {
      padding-right: 32px;
      right: -25px;
      text-align: right;
    }
  }
}

.calendar-container {
  background-color: $white;
  padding: 16px;
  margin-bottom: 24px;

  @include e(header) {
    display: flex;
    justify-content: space-between;
  }

  @include e(btn) {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    color: $calendar-button-color;

    &:hover,
    &:focus {
      color: palette(gray-shades, darker);
      transition: all 0.3s ease-in;
    }
  }

  @include e(title) {
    color: $black;
    font-size: $lg-font-size;
    font-weight: $font-weight--bold;
  }
}

.calendar-table {
  margin-top: 12px;
  width: 100%;

  @include e(item) {
    border: 2px solid transparent;
    border-radius: 50%;
    color: $calendar-item-text;
    font-size: $sm-font-size;
    font-weight: $font-weight--bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    &:hover {
      background: #f8fafa;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      transition: 0.2s all ease-in;
    }
  }

  @include e(row) {
    display: flex;
    justify-content: center;
  }

  @include e(header) {
    border-bottom: 2px solid palette(gray-shades, lightest);
    margin-bottom: 4px;

    .calendar-table__col {
      display: inline-block;
      color: $gray;
      font-size: $sm-font-size;
      font-weight: $font-weight--bold;
      padding: 12px 3px;
      text-align: center;
      text-transform: uppercase;
      width: 40px;
      height: 38px;

      @include mq(360) {
        width: 46px;
      }

      @include mq(410) {
        width: 54px;
      }
    }
  }

  @include e(body) {
    .calendar-table__col {
      width: 40px;
      height: 42px;
      padding-bottom: 2px;

      @include mq(360) {
        width: 46px;
        height: 48px;
      }

      @include mq(410) {
        width: 54px;
        height: 56px;
      }
    }
  }

  @include e(today) {
    .calendar-table__item {
      border-color: $calendar-item-border;
      background-color: palette(gray-shades, lightest);
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }

  @include e(event)  {    
    .calendar-table__item {
      background-color: $blue;
      border-color: $calendar-item-border;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
      color: $white;
    }

    @include m(long) {
      overflow-x: hidden;
      
      .calendar-table__item {
        border-radius: 0;
        border-width: 2px 0;
      }
    }

    @include m(start) {
      .calendar-table__item {
        border-left: 2px solid $white;
        border-radius: 50% 0 0 50%;
      }

      &.calendar-table__col:last-child {
        .calendar-table__item {
          border-width: 2px;
        }
      }
    }

    @include m(end) {
      .calendar-table__item {
        border-right: 2px solid $white;
        border-radius: 0 50% 50% 0;
      }

      &.calendar-table__col:first-child {
        .calendar-table__item {
          border-width: 2px;
        }
      }
    }
  }

  @include e(inactive) {
    .calendar-table__item {
      color: palette(gray-shades, light);
      cursor: default;
      
      &:hover {
        background: transparent;
        box-shadow: none;
      }
    }
  
    &.calendar-table__event {
      .calendar-table__item {
        color: $white;
        opacity: 0.25;
        
        &:hover {
          background: $blue;
          -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

.events-container {
  padding: 0 15px;
}

.events {
  @include e(title) {
    color: palette(gray-shades, lighter);
    display: inline-block;
    font-size: $default-font-size;
    font-weight: $font-weight--semi-bold;
    margin-bottom: 16px;
  }

  @include e(tag) {
    background: $blue;
    border: 2px solid $calendar-item-border;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: $white;
    font-size: $xsm-font-size;
    font-weight: $font-weight--semi-bold;
    width: 60px;
    margin-left: 16px;
    padding: 5px 2px;
    text-align: center;

    @include m(highlighted) {
      background: $yellow;
    }
  }

  @include e(item) {
    background: $white;
    border-left: 8px solid $primary-color;
    border-radius: 2px;
    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    padding: 15px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    @include m(left) {
      width: calc(100% - 76px);
    }
  }

  @include e(name) {
    font-size: $sm-font-size;
    font-weight: $font-weight--bold;
    color: $black;
    display: block;
    margin-bottom: 6px;
  }

  @include e(date) {
    font-size: $sm-font-size;
    color: palette(gray-shades, darker);
    display: inline-block;
  }
}

/* Graficos view */
.graficos{
  width: 80vw;
}



